<% BaseUser.unique_sales_directors.each do |user| %>
<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		<h3><%= user %></h3>
		<h3>___________</h3>
			<% BaseUser.sales_director(user).last.each do |user| %>
			<%=  user.name %>:
			<%=  user.current_month_engagement %>.
			<% end %>
	</div>
	<div class="col-lg-1"></div>
</div>
<% end %>